@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

header {
    background: white;
    text-align: center;
    padding: 35px 0 20px;
}

h1 {
    font-size: 42px;
}

h2, span{
    margin: 20px 0 0;
    font-size: 35px;
    font-weight: bold;
}

body {
    background: rgb(27, 7, 7);
}

canvas {
    border: 3px solid gray;
    display: block;
    margin: 20px auto;
    transition: all 0.2s ease;
}

.button {
    text-align: center;
}

input[type=button] {
    background: orange;
    border: none;
    border-radius: 7px;
    width: 200px;
    padding: 10px 20px;
    font-size: 19px;
    margin: 0 auto;
    cursor: pointer;
}

.red-border {
    border: 5px solid red;
}
